*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* Main */
main{
   
    height: 100%;
    width: 100vw;

    background-color: goldenrod;

    display: flex;
    flex-direction: column;
    text-align: center;
}
/* Header */
.header{
   
    width: 100%;
    height: 5%;
    font-size: 30px;

    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Buton */
.buton{
    border-top: 3px dashed green;
    height: 20%;
    width: 100%;
    padding: 50px;
}
button{
    border: 1px solid black;
    width: 300px;
    height: 30px;
    border-radius: 5px;
}
/* Formu */
.form{
    border-top: 3px dashed green;
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: row;

    padding: 20px;
    gap: 20px;
}
.imagen{
    border: 2px solid gray;
    width: 50%;
    background-image: url(Imagenes/Imagen.jpg);
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
    border-radius: 8px;
}
.imagen_1{
    border: 2px solid gray;
    width: 50%;
    background-image: url(Imagenes/pareja-punk-sorprendida-esparce-palomitas-mira.jpg);
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
    border-radius: 8px;
}
.Formulario{
    
    width: 50%;

    display: flex;
    flex-direction: column;
    background-color: rgba(165, 42, 42, 0.527);
    border-radius: 8px;
}

h2{
    width: 100%;
    height: 30%;
    padding: 50px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 255, 255, 0.884);
}
.contform{

    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
}
h4{
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: brown;
}
input{
    width: 50%;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(128, 128, 128, 0.021);
}
.enviar{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
/* card */
#Intento{
    width: 100%;
    
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    grid-row:auto;
    gap: 10px;
    padding: 3px;
}

.Contenido{
    border: 5px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.473);
}
img{
    width: 260px;
    height: 50%;
    background-position: 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.h{
    padding: 5px;
    width: 250px;
    height: 25%;
    text-align: left;
}
.p{
    width: 100%;
    height: 5%;
}
.a{
    width: 260px;
    height: 20%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* footer */
.footer{
    border-top: 3px dashed green;
    background-color: goldenrod;
    height: 10%;
    padding: 20px;
    display: flex;
    justify-content: center;
}